{{- if .Values.apps.bot.enabled }}
{{- $secret := .Values.apps.bot.secret -}}
{{- $create := true -}}
{{- if ne $secret.create nil }}{{- $create = $secret.create -}}{{- end -}}
{{- if $secret.existingSecret }}{{- $create = false -}}{{- end -}}
{{- if $create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default (printf "%s-token" (include "starwave.bot.fullname" .)) $secret.name }}
  labels:
{{ include "starwave.bot.labels" . | indent 4 }}
{{- with $secret.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
type: Opaque
stringData:
  {{ $secret.existingKey | default "discordToken" }}: {{ required "apps.bot.secret.value is required when creating a token secret" $secret.value }}
{{- end }}
{{- end }}
