{{- if .Values.apps.bot.enabled }}
{{- $ytCookies := .Values.apps.bot.youtubeCookies -}}
{{- if $ytCookies.enabled }}
{{- $create := true -}}
{{- if ne $ytCookies.create nil }}{{- $create = $ytCookies.create -}}{{- end -}}
{{- if $ytCookies.existingSecret }}{{- $create = false -}}{{- end -}}
{{- if $create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default (printf "%s-youtube-cookies" (include "starwave.bot.fullname" .)) $ytCookies.name }}
  labels:
{{ include "starwave.bot.labels" . | indent 4 }}
{{- with $ytCookies.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
type: Opaque
stringData:
  {{ $ytCookies.existingKey | default "youtube-cookies.txt" }}: {{ required "apps.bot.youtubeCookies.value is required when creating a YouTube cookies secret" $ytCookies.value | quote }}
{{- end }}
{{- end }}
{{- end }}
