{{- if and .Values.apps.bot.enabled (eq (include "starwave.bot.createServiceAccount" .) "true") }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "starwave.bot.serviceAccountName" . }}
  labels:
{{ include "starwave.bot.labels" . | indent 4 }}
{{- $annotations := merge (dict) (default (dict) .Values.global.serviceAccount.annotations) (default (dict) .Values.apps.bot.serviceAccount.annotations) }}
{{- if $annotations }}
  annotations:
{{ toYaml $annotations | indent 4 }}
{{- end }}
{{- end }}
