name: Docker build and push

on:
  workflow_dispatch:
    inputs:
      target:
        description: "The target application to build the Docker image for"
        required: true

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}/${{ github.event.inputs.target }}
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push image
        id: push
        uses: docker/build-push-action@v6
        with:
          push: true
          provenance: mode=max
          sbom: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: ./apps/${{ github.event.inputs.target }}/Dockerfile

  # deploy:
  #   name: Deploy
  #   runs-on: ubuntu-latest
  #   needs: docker
  #   steps:
  #     - name: Deploy to production
  #       if: startsWith(github.ref, 'refs/tags/v')
  #       uses: fjogeleit/http-request-action@v1
  #       with:
  #         url: ${{ secrets.PORTAINER_WEBHOOK_URL }}
