name: Docker release

on:
  workflow_dispatch:
    inputs:
      target:
        description: "The target application to build the Docker image for"
        required: true
      distinct_id:
        description: "Distinct ID for tracking purposes"
        required: false

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}/${{ github.event.inputs.target }}
    steps:
      - name: Echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},match=${{ inputs.target }}@v(\d.\d.\d)$

      - name: Build and push image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          provenance: mode=max
          sbom: true
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: ./apps/${{ github.event.inputs.target }}/Dockerfile

  # deploy:
  #   name: Deploy
  #   runs-on: ubuntu-latest
  #   needs: docker
  #   steps:
  #     - name: Deploy to production
  #       if: startsWith(github.ref, 'refs/tags/v')
  #       uses: fjogeleit/http-request-action@v1
  #       with:
  #         url: ${{ secrets.PORTAINER_WEBHOOK_URL }}
