name: Helm chart release

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  release:
    name: Helm release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Log in to the Container registry
        run: |
          helm registry login \
            --username ${{ github.actor }} \
            --password ${{ secrets.GITHUB_TOKEN }} \
            ghcr.io

      - name: Release charts
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          skip_upload: true

      - name: Push charts to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts"
          done
