name: Push and PR

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches-ignore:
      - main

permissions:
  id-token: write
  contents: write
  attestations: write
  packages: write
  pull-requests: write
  issues: write
  actions: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: latest

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: latest

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun i --frozen-lockfile

      - name: Run lint
        run: bun run lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: latest

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: latest

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun i --frozen-lockfile

      - name: Run unit tests
        run: bun run test:cov

  e2e-tests:
    name: E2e Tests
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: latest

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: latest

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun i --frozen-lockfile

      - name: Run unit tests
        run: bun run test:e2e

  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.turboApps.outputs.matrix }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: latest

      - id: turboApps
        run: |
          bun install turbo --global
          echo "matrix=$(turbo ls --filter=./apps/* --output json | jq -c '{"target": [.packages.items[].name]}')" >> $GITHUB_OUTPUT

  docker-develop:
    name: Docker development build
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/develop' }}
    runs-on: ubuntu-latest
    needs: [lint, unit-tests, e2e-tests, generate-matrix]
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1
        with:
          workflow: docker.yaml
          inputs: |
            {
              "target": "${{ matrix.target }}"
            }

  # release:
  #   name: Release
  #   if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
  #   runs-on: ubuntu-latest
  #   needs: [lint, unit-tests, e2e-tests]
  #   outputs:
  #     tag_name: ${{ steps.release.outputs.tag_name }}
  #     release_created: ${{ steps.release.outputs.release_created }}
  #   steps:
  #     - uses: googleapis/release-please-action@v4
  #       id: release
  #       with:
  #         config-file: release-please-config.json
  #         manifest-file: .release-please-manifest.json

  # docker-release:
  #   name: Docker release build
  #   if: ${{ needs.release.outputs.release_created }}
  #   runs-on: ubuntu-latest
  #   needs: [release, generate-matrix]
  #   strategy:
  #     matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
  #   steps:
  #     - uses: benc-uk/workflow-dispatch@v1
  #       with:
  #         workflow: docker.yaml
  #         inputs: |
  #           {
  #             "target": "${{ matrix.target }}"
  #           }
  #         ref: ${{ needs.release.outputs.tag_name }}
